<html>
  <head>
    <title>About</title>
     <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
   {{>header}}
   <p>This Site was create by Dibyojyoti Koleh. It's uses data from mapbox.com and draksky.net! </p>
    <img src="/images/Thatsmypic.jpg">
    </div>

   {{>footer}}
  </body>
</html>